# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Sensitive Information
cookies.txt

# Downloaded Files & State
subtitles/
*.srt
download_progress.json

# IDEs
.vscode/
.idea/
.windsurf/
